[package]
name = "testcontainers-redpanda-rs"
version = "0.1.0"
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
testcontainers = "0.15"


[dev-dependencies]
env_logger = "0.10"
rdkafka = { version = "0.35", features = ["cmake-build"] }
rusty_ulid = "2.0"
tokio = { version = "1", features = ["rt", "macros"]}